.Home-body {
  margin: 0rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Loading-indicator {
  display: block;
  padding: 14px;
}

.changeView {
  text-align: center;
  padding: 8px;
  background-color: #45bead;
  cursor: pointer;
  margin: 20px;
}
