/* Stylesheet for ruleview */

.RuleviewCSS {
  max-width: 100%;
}

.header {
  color: var(--on-surface);
  font-family: Open Sans;
  font-variation-settings: 'wght' 400;
}

.exportButton {
  margin: 10px 0;
  text-align: center;
  background-color: var(--primary);
  color: var(--on-primary);
  cursor: pointer;
  border-radius: 0.25rem;
}

.resetButton {
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--on-primary);
  border-radius: 0.25rem;
}

.addRuleButton {
  margin: 10px 0;
  text-align: center;
  background-color: var(--primary);
  color: var(--on-primary);
  cursor: pointer;
  border-radius: 0.25rem;
}

#table-container {
  background-color: var(--surface-container);
  border-radius: 0.5rem;
  border: 1px solid var(--outline-variant);
  overflow: hidden;
}

.table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}

.table-header {
  font-family: Open Sans;
  font-variation-settings: 'wght' 600;
}

.table thead tr {
  border-bottom: 1px solid var(--outline-variant);
}

.table tbody tr:not(:first-child) {
  border-top: 1px solid var(--outline-variant);
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

.rowActions {
  /* display: flex; */
  white-space: nowrap;
}

.rowActions button {
  text-align: center;
  margin: 2px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  cursor: pointer;
  border-radius: 0.25rem;
  border: 0.1rem solid var(--on-surface-variant);
}

.editableFields {
  border: 0.1rem solid var(--outline-colour);
  border-radius: 0.25rem;
}

.move-buttons {
  display: flex;
}

.square-button {
  width: 20px;
  height: 20px;
  padding: 0;
  display: grid;
  place-content: center;
}

.svg-filter {
  filter: invert(100%) sepia(100%) saturate(27%) hue-rotate(81deg) brightness(106%) contrast(106%);
}
