/* Stylesheet for ruleview */

.RuleviewCSS {
  max-width: 100%;
}

.header {
  color: var(--on-surface);
}

.exportButton {
  margin: 10px 0;
  text-align: center;
  background-color: var(--primary);
  color: var(--on-primary);
  cursor: pointer;
  border-radius: 0.25rem;
}

.resetButton {
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--on-primary);
  border-radius: 0.25rem;
}

.addRuleButton {
  margin: 10px 0;
  text-align: center;
  background-color: var(--primary);
  color: var(--on-primary);
  cursor: pointer;
  border-radius: 0.25rem;
}

#table-container {
  background-color: var(--surface-container);
  border-radius: 0.5rem;
  border: 1px solid var(--outline-variant);
  overflow: hidden;
}

.table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}

.table thead tr {
  border-bottom: 1px solid var(--outline-variant);
}

.table tbody tr:not(:first-child) {
  border-top: 1px solid var(--outline-variant);
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

.rowActions {
  /*   display: flex; */
  white-space: nowrap;
}

.rowActions button {
  text-align: center;
  margin: 2px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  cursor: pointer;
  border-radius: 0.25rem;
  border: 0.1rem solid var(--on-surface-variant);
}

.editableFields {
  border: 0.1rem solid var(--outline-colour);
  border-radius: 0.25rem;
}
